<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookstore</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="/style.css">
  <!-- Icons -->
  <script src="https://kit.fontawesome.com/b9753e102f.js" crossorigin="anonymous"></script>
</head>
<body class="index tac">
  <header class="flex jcc aic">
    <h1>Welcome to Bookstore</h1>
    <i class="logo fa fa-solid fa-book-open"></i>
  </header>
  <a class="primary-btn" href="/books">Go to store</a>
</body>
</html>